API_BASEURL="http://localhost:4000"
API_WS_URL="http://localhost:4000"

AUTH_URL="http://localhost:3000"
AUTH_SECRET=""
AUTH_DRIZZLE_URL="postgres://{username}:{password}@localhost:5432/chef"
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
AUTH_NAVER_ID=""
AUTH_NAVER_SECRET=""

DATABASE_URL="postgresql://{username}:{password}@localhost:5432/chef"